# course-apache-spark-scala

# User-specific stuff:
module_scala/.idea/**/workspace.xml
module_scala/.idea/**/tasks.xml
module_scala/.idea/dictionaries

# Sensitive or high-churn files:
module_scala/.idea/**/dataSources/
module_scala/.idea/**/codeStyles/
module_scala/.idea/**/dataSources.ids
module_scala/.idea/**/dataSources.xml
module_scala/.idea/**/dataSources.local.xml
module_scala/.idea/**/sqlDataSources.xml
module_scala/.idea/**/dynamic.xml
module_scala/.idea/**/uiDesigner.xml
module_scala/.idea/**/scala_compiler.xml
module_scala/.idea/**/jarRepositories.xml
module_scala/.idea/**/compiler.xml
module_scala/.idea/**/vcs.xml

# Gradle:
module_scala/.idea/**/gradle.xml
module_scala/.idea/**/libraries

*.iws

module_scala/.idea/*
module_scala/.idea


module_scala/target/*
module_scala/target/
module_scala/target


# User-specific stuff:
module_scala_spark/.idea/**/workspace.xml
module_scala_spark/.idea/**/tasks.xml
module_scala_spark/.idea/dictionaries

# Sensitive or high-churn files:
module_scala_spark/.idea/**/dataSources/
module_scala_spark/.idea/**/codeStyles/
module_scala_spark/.idea/**/dataSources.ids
module_scala_spark/.idea/**/dataSources.xml
module_scala_spark/.idea/**/dataSources.local.xml
module_scala_spark/.idea/**/sqlDataSources.xml
module_scala_spark/.idea/**/dynamic.xml
module_scala_spark/.idea/**/uiDesigner.xml
module_scala_spark/.idea/**/scala_compiler.xml
module_scala_spark/.idea/**/jarRepositories.xml
module_scala_spark/.idea/**/compiler.xml
module_scala_spark/.idea/**/vcs.xml

# Gradle:
module_scala_spark/.idea/**/gradle.xml
module_scala_spark/.idea/**/libraries

*.iws

module_scala_spark/.idea/*
module_scala_spark/.idea


module_scala_spark/target/*
module_scala_spark/target/
module_scala_spark/target


module_python_pyspark/venv
module_python_pyspark/venv/*
